.jumbotron
  h1 我的web网站
  p.lead
    img(src="images/yeoman.png" alt="I'm Yeoman")
    br
    | Always a pleasure scaffolding your apps.
  p
   a.btn.btn-lg.btn-success(ng-href="#/") Splendid!
    span.glyphicon.glyphicon-ok
.row.marketing
  ul
    li(ng-repeat='x in progect.member')
      a(ng-href='#') {{x.name}}
